@media screen and (max-width: 600px){
    nav{
        display: flex;
        flex-direction: column;
    }
   .search{
    margin-bottom: 5vh;
   }

   .search input{
    margin-right: 7vw;
   }
   .logo img {
    width: 20vw;
    margin-top: 3vh;
   }

   .card-items img {
    width: 33vw;
   }
   .card-items img {
    margin: 5vh 3vw;
   }
   .card-items line {
    justify-content: center;
   }
   
   .card {
    display: inline;
   }
}